@charset "UTF-8";
.btn-original {
  width: 135px;
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.btn-original:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm, .btn-original a, .sub-title, .small, .chat_wrapper .chat__container {
  font-size: 12px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg, .page-title, .main-title {
  font-size: 25px;
}

.mb-sm, .chat_wrapper .chat__container, .comment-wrapper .comment, .month, .overtime__date, .overtime__starttime, .overtime__endtime, .overtime__reason {
  margin-bottom: 16px !important;
}

.mb-md, .page-title, .search_box, .calendar {
  margin-bottom: 32px !important;
}

.mb-lg, .overtime {
  margin-bottom: 50px !important;
}

.pb-sm, .page-title, .main-title {
  padding-bottom: 16px !important;
}

.pb-lg, .wrapper {
  padding-bottom: 50px !important;
}

.content-width, .inner, .calendar {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.page-title {
  border-bottom: solid 1px #333;
  display: block;
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #535353;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center_box {
  display: block;
  margin: 0 auto;
}

.red {
  background-color: #ffbcbc;
}

.blue {
  background-color: #b9e0ff;
}

.today_red {
  background-color: #ff6b16 !important;
}

.all-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1000000 !important;
  background-color: white;
}

.all-bg .msg-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  max-width: 400px;
}

.all-bg .msg {
  width: 100%;
  display: block;
  text-align: center;
}

.all-bg .input-btn {
  display: block;
  height: 40px;
  width: 100%;
}

header {
  min-height: 100px;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.small {
  display: block;
  color: #fff;
}

.wrapper {
  width: 100%;
  margin-top: 100px;
  padding-top: 32px;
  min-height: calc(100vh - 200px);
}

.inner {
  overflow: hidden;
}

.main {
  width: 100%;
}

.wrap {
  padding: 16px;
}

.table_box {
  width: 100%;
  overflow-x: scroll;
}

.table_box th,
.table_box td {
  white-space: nowrap;
}

.fixed-top .dropdown-menu {
  padding-right: 8px;
}

.btn-outline-secondary {
  width: 100%;
  margin: 4px;
}

.chat_wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.chat_wrapper .chat_title {
  border: 2px solid;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  background: #dee2e6;
}

.chat_wrapper .chat {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  border: #333 solid 2px;
}

.chat_wrapper .chat__container {
  max-width: 80%;
  margin-left: auto;
  text-align: right;
}

.chat_wrapper .chat__container.other {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

.chat_wrapper .chat__container.other .chat__message_block {
  background-color: #ade5ff;
}

.chat_wrapper .chat__container.other .chat__sub {
  text-align: left;
}

.chat_wrapper .chat__message_block {
  display: inline-block;
  border-radius: 9px;
  border: 1px solid black;
  padding: 6px;
  margin: 0;
  max-width: 100%;
}

.chat_wrapper .chat__message {
  text-align: left;
  margin: 0;
  width: 100%;
  white-space: pre-wrap;
}

.chat_wrapper .chat__sub {
  margin: 0 15px 0 15px;
  text-align: right;
  font-size: 0.5em;
}

.chat_wrapper .msg_send_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat_wrapper .msg_send_box textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4px;
  max-height: 3em;
}

.attendance_box li {
  margin-bottom: 16px;
}

.comment-wrapper .comment {
  width: 300px;
  padding: 4px;
  min-height: 100px;
  white-space: pre-wrap;
  overflow: scroll;
}

.status {
  width: 100%;
}

.month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.calendar__week {
  text-align: center;
}

.calendar__submit {
  display: block;
  width: 100%;
  padding: 4px 8px;
  background: transparent;
}

.calendar td {
  padding: 0;
}

.overtime__date {
  height: 2.5rem;
}

.overtime__reason {
  width: 80%;
}

.overtime__starttime {
  margin-right: 16px;
}

.overtime__select-time {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .chat_wrapper {
    width: 70%;
  }
  .attendance_box {
    width: 30%;
  }
}

@media screen and (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  body {
    font-size: 14px;
  }
  .font-sm, .btn-original a, .sub-title, .small, .chat_wrapper .chat__container {
    font-size: 14px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg, .page-title, .main-title {
    font-size: 36px;
  }
  .mb-lg, .overtime {
    margin-bottom: 80px !important;
  }
  .pb-lg, .wrapper {
    padding-bottom: 80px !important;
  }
}
/*# sourceMappingURL=style.css.map */