/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
  flex-direction: row;
  flex-wrap: wrap;
}
.chat_wrapper {
  width: 70%;
}
.attendance_box {
  width: 30%;
}
