/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
body {
  font-size: 14px;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
